@import url('https://fonts.cdnfonts.com/css/pricedown');
@import url('https://fonts.cdnfonts.com/css/rage-italic');

body {
    min-height: 100vh;
    background-image: url('background.jpg');
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
    margin: 60px;
    padding: 15px;
    position: relative; 
}  

.container {
    padding: 70px;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    padding: 30px 0 0 0;
    text-shadow: 0 0 5px #fd95e0, 0 0 5px #fd95e0;
}

a {
    color: #ffffff;
}

/* Button and navigation fonts */
.btn, .navbar-brand, .nav-link {
    font-family: 'Pricedown Bl', sans-serif;
    letter-spacing: 1.5px;
}

.navbar {
    padding: 10px 0;
    z-index: 10000;
}

.nav-link {
    color: #fd95e0 !important;
    font-size: 1.6em;
    margin: 0 15px;
    transition: all 0.3s ease;
    position: relative;
    text-shadow: -5px 5px 0 #000;
}

.nav-link:hover {
    background-color: #198345;
    border-radius: 3px;
    transform: scale(1.1);
}

.navbar-brand {
    font-size: 3.5em;
    color: white !important;
    text-shadow: 0 0 10px #fd95e0, 0 0 10px #fd95e0;
    -webkit-text-stroke: 0.5px #fd95e0;
    padding-left: 78px;
    font-family: 'Rage Italic', sans-serif;
    transform: rotate(-10deg);
}

.navbar-toggler {
    filter: invert(1);
    margin-right: 20px;
}

.border-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    pointer-events: none;
    z-index: 9999;
}
/* Heading fonts */
h1, h2 {
    font-family: 'Pricedown Bl', sans-serif;
    color: #fd95e0;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #000, 0 0 10px #000;
}
h2  {
    font-size: 2em;
    margin-bottom: 15px;
    text-shadow: 0 0 5px #fd95e0, 0 0 5px #fd95e0;
    padding: 10px 0 0 0;
    text-decoration: underline;
    text-shadow: 0 0 10px #000, 0 0 10px #000;
}
.image-container {
    position: relative;
    float: right;
    width: 14%;
    margin-left: 20px;
}
.image-container img {
    width: 100%;
    display: block;
}
.hover-table {
    display: none;
    position: absolute;
    top: 0;
    right: calc(100% + 10px);
    left: auto;
    background-color: hsla(317, 96%, 79%, 0.826);
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #fd95e0;
    color: #ffffff;
    z-index: 9000;
}
.image-container:hover .hover-table {
    display: block;
}
.hover-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}
.hover-table th,
.hover-table td {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    border: 1px solid hwb(0 100% 0% / 0.422);
    text-shadow: 0 0 5px #fd95e0, 0 0 5px #fd95e0;
}
.hover-table th {
    font-family: 'Pricedown Bl', sans-serif;
}
sup {
    font-size: 0.8em;
    vertical-align: super;
    color: #1c76fe;
}
sup:hover {
    text-decoration: underline;
    text-decoration-color: #fd95e0;
    cursor: pointer;
}


img.float-left {
    float: left;
    margin-right: 20px;
    max-width: 100%;
}

img.float-right {
    float: right;
    margin-left: 50px;
    max-width: 100%;
}

/* Button and navigation fonts */
.btn, .navbar-brand, .nav-link {
    font-family: 'Pricedown Bl', sans-serif;
    letter-spacing: 1.5px;
}

.navbar {
    padding: 10px 0;
    z-index: 10000;
}

.nav-link {
    color: #fd95e0 !important;
    font-size: 1.6em;
    margin: 0 15px;
    transition: all 0.3s ease;
    position: relative;
    text-shadow: -5px 5px 0 #000;
}

.nav-link:hover {
    background-color: #198345;
    border-radius: 3px;
    transform: scale(1.1);
}

.navbar-brand {
    font-size: 3.5em;
    color: white !important;
    text-shadow: 0 0 10px #fd95e0, 0 0 10px #fd95e0;
    -webkit-text-stroke: 0.5px #fd95e0;
    padding-left: 78px;
    font-family: 'Rage Italic', sans-serif;
    transform: rotate(-10deg);
}

.navbar-toggler {
    filter: invert(1);
    margin-right: 20px;
}

.border-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    pointer-events: none;
    z-index: 9999;
}
/* Heading fonts */
h1, h2 {
    font-family: 'Pricedown Bl', sans-serif;
    color: #ffffff;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #fd95e0, 0 0 10px #fd95e0;
}
h2 {
    font-size: 2em;
    margin-bottom: 15px;
    text-shadow: 0 0 5px #fd95e0, 0 0 5px #fd95e0;
    padding: 10px 0 0 0;
    text-decoration: underline;
}
.image-container {
    position: relative;
    float: right;
    width: 14%;
    margin-left: 20px;
}
.image-container img {
    width: 100%;
    display: block;
}
.hover-table {
    display: none;
    position: absolute;
    top: 0;
    right: calc(100% + 10px);
    left: auto;
    background-color: hsla(317, 96%, 79%, 0.826);
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #fd95e0;
    color: #ffffff;
    z-index: 9000;
}
.image-container:hover .hover-table {
    display: block;
}
.hover-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}
.hover-table th,
.hover-table td {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    border: 1px solid hwb(0 100% 0% / 0.422);
    text-shadow: 0 0 5px #fd95e0, 0 0 5px #fd95e0;
}
.hover-table th {
    font-family: 'Pricedown Bl', sans-serif;
}
sup {
    font-size: 0.8em;
    vertical-align: super;
    color: #1c76fe;
}
sup:hover {
    text-decoration: underline;
    text-decoration-color: #fd95e0;
    cursor: pointer;
}


img.float-left {
    float: left;
    margin-right: 20px;
    max-width: 100%;
}

img.float-right {
    float: right;
    margin-left: 50px;
    max-width: 100%;
}

/* Add for block quotes */
blockquote {
    font-family: 'Rage Italic', sans-serif;
    font-size: 1.4em;
    color: #fd95e0;
    border-left: 3px solid #fd95e0;
    margin: 20px 40px;
    padding: 15px 30px;
    background-color: rgba(253, 149, 224, 0.1);
    text-shadow: 0 0 5px #fd95e0;
    position: relative;
    quotes: "“" "”";
}

blockquote::before,
blockquote::after {
    font-size: 2em;
    position: absolute;
}

blockquote::before {
    content: open-quote;
    left: -15px;
    top: -10px;
}

blockquote::after {
    content: close-quote;
    right: -15px;
    bottom: -15px;
}

blockquote:hover {
    border-left-color: #fff;
    transition: 0.3s;
}

body {
    cursor: url('cursor.cur'), auto;
}
/* iain additions */

.bg-image {
    height:100vh; 
    background-position:center;
    background-attachment:fixed;
    display:flex;
    background-repeat:repeat-x;
    margin-left: 0px;
    margin-right: 0px;
    background-size:100% auto;
}

.img1 {
    background-image: url('https://c.wallhere.com/photos/46/77/AI_art_city_illustration_Grand_Theft_Auto_Vice_City_skyline_palm_trees_car_walking-2229762.jpg!d');   
}

.img3 {
    background-image: url('city.jpg');
}

.title{
    margin-left: 100px;
    margin-right: 100px;
}


.gameplay {
    margin-left: 100px;
    margin-right: 100px;
}

.plot {
    margin-left: 100px;
    margin-right: 100px;
}

.video { 
    margin-top: 100px;
    margin-bottom: 100px;
    border-width: 5px;
    border-radius: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.about_title {
    
    background-color: #fd95e0d9;
    height: 125px;
    max-width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;   
    margin-right: auto;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: 75px;
    color: #000;
}


.blockquote2 {
    font-family: 'Rage Italic', sans-serif;
    font-size: 1.4em;
    color: #fd95e0;
    border-left: 3px solid #fd95e0;
    margin: 20px 40px;
    padding: 15px 30px;
    /* background-color: rgba(253, 149, 224, 0.1); */
    background-color: #000;
    text-shadow: 0 0 5px #fd95e0;
    position: relative;
    quotes: "“" "”";
    border-radius: 10px 50px;
    text-align: center;
}

.card-text {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #000;
    padding: 5px 0 0 0;
    padding-bottom: 10px;
}

.card-body {
background-color: white;
}

.card-title {
    font-family: 'Pricedown Bl', sans-serif;
    color: #fd95e0;
    text-shadow: 0 0 5px #000, 0 0 5px #000;
    font-size: 30px ;
}
